.day {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: var(--day-incomplete-color);
}

.icon {
  font-size: 2.5rem;
  cursor: pointer;
}

.completed svg {
  color: gold;
}

.day-date {
  font-size: 0.75rem;
  color: var(--day-incomplete-color);
}
