.habit-detail {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 30%;
  align-items: center;
  row-gap: 0.5rem;
}

.habit-detail__title {
}

.habit-detail__title h3 {
  padding: 0;
  margin: 0;
}

.habit-detail__start-date {
}

.habit-detail__actions {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 0.75rem;
}

.habit-detail__actions div {
}
