.form-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 1rem;
  width: calc(100%);
  margin: 2rem;
}

.habit-form {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;
  width: 25%;
}

.habit-form__title {
  padding: 0;
  padding-bottom: 1rem;
  margin: 0;
  align-self: center;
}

.habit-form label {
  font-weight: bold;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 1rem;
}

.error-message {
  padding: 0.25rem;
  background-color: pink;
  border: 1px solid red;
}
