.habit-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 1rem;
  padding-top: 2rem;
}

.habit-items {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 1rem;
  margin: 1rem 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 1rem;
}
